extends base-without-sidebar
block description
  if page.desc
    meta(name='description', content=page.desc)
  else 
    meta(name='description', content=config.description)  

block title
  title= page.title + ' - ' + config.SEOTitle
block content
  .post
    h1.post-title= page.title
    .post-content
      != page.content
  if page.comments
    include _partial/comments
